<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar class="toolbar">
      <img class="logo-icon" src="assets/img/logos/angular.png">
      <span class="titulo">Chats</span>
    </mat-toolbar>
    <mat-nav-list>

      <div *ngFor="let user of users | async">
        <button mat-button class="contact" (click)="getChat(user)" *ngIf="user.key !== userLogin.uid">
          <div fxLayout="row" fxLayoutAlign="start center">

            <div class="avatar-wrapper" fxFlex="0 1 auto" fxLayoutAlign="center center">
              <img class="avatar" *ngIf="user.avatar" [src]="user.avatar" alt="{{user.name}}" />
              <img class="avatar" *ngIf="!user.avatar" src="assets/img/avatars/profile.jpg">
              <mat-icon class="s-16 status" [ngClass]="user.status"></mat-icon>
            </div>
            <div fxLayout="row" fxFlex>
              <div fxFlex fxLayout="column" fxLayoutAlign="center start">
                <div class="contact-name">{{user.name}}</div>
              </div>
            </div>
          </div>
        </button>
      </div>

    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar *ngIf="isHandset$ | async">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- {{userLogin | json}} -->
    <app-chat-start *ngIf="!selectedChat"></app-chat-start>
    <app-chat-view *ngIf="selectedChat" [user]="userLogin"></app-chat-view>
  </mat-sidenav-content>

</mat-sidenav-container>