<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form">

            <div class="logo">
                <img src="assets/img/logos/angular.png">
            </div>

            <div class="title">LOGIN TO YOUR ACCOUNT</div>

            <form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
                <mat-form-field>
                    <input type="email" matInput placeholder="Enter your email" id="email" [(ngModel)]="email" name="email" required>
                </mat-form-field>

                <mat-form-field>
                    <input type="password" matInput placeholder="Password" id="password" [(ngModel)]="password" name="password" required>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="flex-end">
                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                        Forgot Password?
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN" [disabled]="!myForm.form.valid">
                    LOGIN
                </button>

            </form>

            <div class="separator">
                <span class="text">OR</span>
            </div>

            <button mat-raised-button class="google">
                Log in with Google
            </button>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Don't have an account?</span>
                <a class="link" [routerLink]="'/pages/auth/register'">Create an account</a>
            </div>

        </div>

    </div>

</div>