<div class="login-container">
    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <mat-error>
            {{errorMessage}}
        </mat-error>

        <div class="login-form">
            <div class="logo">
                <img src="assets/img/logos/angular.png">
            </div>

            <div class="title">Login en EdukaSoft - Chat</div>

            <form (ngSubmit)="login()" #myForm="ngForm">
                <mat-form-field>
                    <input type="email" matInput placeholder="Ingrese su email" id="email" [(ngModel)]="email" name="email" required>
                </mat-form-field>

                <mat-form-field>
                    <input type="password" matInput placeholder="Password" id="password" [(ngModel)]="password" name="password" required>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="flex-end">
                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                        Olvido su contraseña?
                    </a>
                </div>

                <button type="submit" mat-raised-button color="accent" aria-label="LOG IN" [disabled]="!myForm.form.valid">
                    Login
                </button>

            </form>

            <div class="separator">
                <span class="text">OR</span>
            </div>

            <button mat-raised-button class="google" (click)="loginGoogle()">
                Login con Google
            </button>

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">No tienes un cuenta?</span>
                <a class="link" routerLink="/register">Crear nueva cuenta</a>
            </div>

        </div>

    </div>
</div>