<div id="about" class="p-24" fxLayout="row wrap">

  <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

    <div class="profile-box info-box general" fxLayout="column">

      <header class="mat-accent-bg">
        <div class="title">Información General </div>
      </header>
      
      <div class="content">
        <div class="info-line">
          <div class="title">Génereo</div>
          <div class="info">Masculino</div>
        </div>

        <div class="info-line">
          <div class="title">Nombre</div>
          <div class="info" *ngIf="usuarioActual.email">{{usuarioActual.name}}</div>
        </div>

        <div class="info-line">
          <div class="title">Email</div>
          <div class="info">{{usuarioActual.email}}</div>
        </div>


        <div class="info-line">
          <div class="title">Sobre Mí</div>
          <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget pharetra felis, sed ullamcorper dui. Sed et
            elementum neque. Vestibulum pellente viverra ultrices. Etiam justo augue, vehicula ac gravida a, interdum sit
            amet nisl. Integer vitae nisi id nibh dictum mollis in vitae tortor.</div>
        </div>
      </div>

    </div>


  </div>

  <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">

    <div class="profile-box friends" fxLayout="column">

      <header class="mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">Amigos</div>
      </header>

      <div class="content contentPhotos" fxLayout="row wrap">
        <div class="friend" fxFlex="20" *ngFor="let friend of friends | async">
          <img *ngIf="friend.avatar" [src]="friend.avatar">
          <img *ngIf="!friend.avatar" src="assets/img/avatars/profile.jpg">
        </div>
      </div>

    </div>

  </div>

</div>